.about {
  width: 100%;
  display: flex;
  justify-content: space-around;
  min-height: 60vh;
  align-items: center;
  flex-wrap: wrap;
}
.about_summary {
  background-color: wheat;
  width: 650px;
  padding: 20px;
  line-height: 27px;
  letter-spacing: 1px;
  border-radius: 10px;
  cursor: pointer;
}

.about_image {
  width: 500px;
  border-radius: 15px;
  margin: 20px;
}
.about_image,
.about_summary {
  box-shadow: 10px 10px 5px gray, -2px -2px 5px gray;
}
@media (max-width: 700px) {
  .about_summary {
    width: 500px;
    height: 250px;
    overflow-y: scroll;
    transition: all 0.4s ease;
  }
  .about_summary::-webkit-scrollbar {
    display: none;
  }

  .about_image {
    width: 450px;
  }
}

@media (max-width: 550px) {
  .about_image,
  .about_summary {
    width: 400px;
  }
}

@media (max-width: 450px) {
  .about_image {
    width: 350px;
    margin: 30px 0;
  }
  .about_summary {
    width: 350px;
  }
}
