.contact_container {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
  flex-wrap: wrap-reverse;
}

.message_container {
  width: 500px;
  padding: 20px;
}
.message_input {
  box-shadow: 5px 5px 5px lightcoral;
}
