.Section_items {
  list-style: none;
  display: flex;
  gap: 50px;
  margin: 0;
  justify-content: center;
  padding: 10px;
}
.custom {
  background-image: linear-gradient(#000000c6, #000000bb),
    url("/public/image/car1.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 450px;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: wheat;
}
.hr {
  margin: 0;
  color: #d87093c0;
  background-color: #d87093c0;
  opacity: 1;
  height: 5px;
}
.h_tag {
  font-size: 35px;
}
.p_tag {
  width: 85%;
  font-size: 20px;
}

/* Category */
.category_container {
  max-width: 1500px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.category_heading {
  font-size: 30px;
  text-align: center;
  padding: 20px 0;
  color: blueviolet;
}

.category_image {
  width: 17vw;
  height: 270px;
  object-fit: fill;
  margin: 0 25px 10px 0;
  border-radius: 20px;
  transition: all 0.3s ease;
  box-shadow: 3px 3px 5px gray;
}
.category_image:hover {
  box-shadow: 10px 10px 10px gray;
}
.category_price {
  position: relative;
  right: 10px;
}

/* Carousel */
.carouselImage {
  height: 600px;
  transition: all 0.5s ease;
}

/* Trending  */
.treding_items {
  display: flex;
  overflow: scroll;
  gap: 40px;
}

.treding_items::-webkit-scrollbar {
  display: none;
}
.product {
  text-decoration: none;
  color: black;
  border: 2px solid gainsboro;
  border-radius: 7px;
  transition: all 0.3s ease;
}

.product:hover {
  opacity: 0.9;
  transform: scale(0.9);
}

.treding_images {
  width: 250px;
  height: 250px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}
.brand_name {
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 14px;
  font-style: italic;
}
.items_name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 230px;
  font-size: 14px;
}
.del_price,
.main_price {
  color: #6c6969;
  letter-spacing: 1px;
}

@media (max-width: 1000px) {
  .category_image {
    height: 220px;
  }
  .Section_container {
    white-space: nowrap;
    overflow: scroll;
  }
  .Section_container::-webkit-scrollbar {
    width: 0;
    height: 3px;
  }
  .Section_container::-webkit-scrollbar-thumb {
    background-color: rebeccapurple;
  }
  .Section_items {
    justify-content: space-evenly;
  }
}
@media (max-width: 900px) {
  .h_tag {
    font-size: 30px;
  }
  .p_tag {
    font-size: 17px;
  }
  .Section_items {
    gap: 25px;
  }

  .category_heading {
    font-size: 25px;
  }
  .carouselImage {
    height: 500px;
  }
  .treding_images {
    width: 220px;
    height: 220px;
  }
  .items_name {
    width: 200px;
    font-size: 13px;
  }
  .del_price,
  .main_price {
    font-size: 15px;
  }
  .items_offer {
    font-size: 15px;
  }
  .treding_items {
    gap: 30px;
  }
}

@media (max-width: 750px) {
  .p_tag {
    width: 100%;
    font-size: 15px;
  }
  .h_tag {
    font-size: 25px;
  }
  .custom {
    padding: 10px;
  }
  .category_image {
    width: 30vw;
    height: 200px;
  }
  .carouselImage {
    height: 450px;
  }
  .treding_images {
    width: 200px;
    height: 200px;
  }
  .items_name {
    width: 180px;
  }
  .del_price,
  .main_price {
    font-size: 14px;
  }
  .items_offer {
    font-size: 14px;
  }
  .treding_items {
    gap: 20px;
  }
}

@media (max-width: 550px) {
  .p_tag {
    font-size: 13px;
  }
  .h_tag {
    font-size: 20px;
  }
  .custom {
    padding: 10px 5px;
  }
  .custom {
    height: 270px;
  }
  .category_image {
    width: 150px;
    height: 150px;
  }
  .category_heading {
    padding: 10px 0;
  }
  .carouselImage {
    height: 400px;
  }
  .treding_images {
    width: 180px;
    height: 180px;
  }
  .items_name {
    width: 160px;
  }
  .items_offer {
    font-size: 13px;
  }
}

@media (max-width: 420px) {
  .h_tag {
    font-size: 15px;
  }
  .category_image {
    margin: 0 15px 10px 0;
  }
  .carouselImage {
    height: 300px;
  }
  .treding_images {
    width: 160px;
    height: 160px;
  }
  .items_name {
    width: 140px;
  }
}
