.Services_container {
  height: 100vh;
  margin: 0 50px;
  display: flex;
  overflow: scroll;
  align-items: center;
  gap: 100px;
  padding: 30px 20px;
  transition: all o.4s ease;
}
.Services_container::-webkit-scrollbar {
  display: none;
}
.services_items {
  border-radius: 10px;
  background-color: white;
  box-shadow: 10px 10px 5px gray, -2px -2px 5px gray;
  padding: 10px;
  height: fit-content;
}
.Services_image {
  width: 400px;
  height: 400px;
  border-radius: 5px;
  transition: all 0.4s ease;
}
.items_summary {
  font-size: 14px;
}
.Services_title {
  text-align: center;
  padding: 5px 0;
  font-weight: bold;
}
@media (max-width: 1000px) {
  .Services_image {
    width: 350px;
    height: 350px;
  }
}

@media (max-width: 850px) {
  .Services_image {
    width: 300px;
    height: 300px;
  }
  .Services_container {
    margin: 0 10px;
    gap: 50px;
  }
}
@media (max-width: 650px) {
  .Services_image {
    width: 250px;
    height: 250px;
  }
  .services_items {
    padding: 5px;
  }
  .Services_container {
    height: 90vh;
  }
  .Services_container {
    height: 80vh;
  }
}
@media (max-width: 450px) {
  .Services_image {
    width: 200px;
    height: 200px;
  }
  .Services_container {
    margin: 0 7px;
    gap: 30px;
    padding: 10px 10px 20px 10px;
    height: 70vh;
  }
  .items_summary {
    font-size: 13px;
  }
  .Services_title {
    font-weight: normal;
    font-size: 18px;
    padding: 0;
  }
}
