.nav_bg {
  width: 100%;
  overflow: scroll;
  background-color: orange;
}
.nav_bg::-webkit-scrollbar {
  display: none;
}
.nav_contact,
.nav_mail,
.nav_offer {
  margin-left: 20px;
  font-weight: bold;
}
.nav_icons {
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
  animation: moveleft 15s linear infinite;
}

@keyframes moveleft {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(100%);
  }
}
.paused {
  animation-play-state: paused;
}

/*******/

.nav_cont {
  position: sticky;
  top: 0;
  justify-content: space-around;
  background-color: silver;
  box-shadow: 5px 5px 5px gray;
  align-items: center;
  z-index: 1;
}
.brand_name {
  font-size: 35px;
  color: blueviolet;
  font-family: sans-serif;
  font-style: italic;
}

.input_search {
  box-shadow: inset 2px 2px 2px silver, inset -2px -2px 2px silver;
  border: none;
  border-radius: 20px;
  width: 600px;
  padding: 7px;
}
.list_items {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 50px;
}
.responsive_search {
  display: none;
}
@media (max-width: 950px) {
  .input_search {
    width: 400px;
  }
}

@media (max-width: 750px) {
  .input_search {
    width: 250px;
  }
}
@media (max-width: 580px) {
  .search_div {
    display: none;
  }
  .responsive_search {
    display: block;
    width: 90%;
  }
  .responsive_search_input {
    width: 100%;
    box-shadow: inset 2px 2px 2px silver, inset -2px -2px 2px silver;
    border: none;
    border-radius: 20px;
    padding: 7px;
  }
  .list {
    position: relative;
    top: 10px;
  }
  .brand_name {
    font-size: 30px;
  }
  .nav_cont {
    padding: 7px 10px;
  }
}
