.treding_items {
  display: flex;
  gap: 40px;
}

.treding_items::-webkit-scrollbar {
  display: none;
}
.product {
  text-decoration: none;
  color: black;
  border: 2px solid gainsboro;
  border-radius: 7px;
  transition: all 0.3s ease;
}

.product:hover {
  opacity: 0.9;
  transform: scale(0.9);
}

.treding_images {
  width: 250px;
  height: 250px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}
.brand_name {
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 14px;
  font-style: italic;
}
.items_name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 230px;
  font-size: 14px;
}
.del_price,
.main_price {
  color: #6c6969;
  letter-spacing: 1px;
}
